/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Jost", sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
}
.header {
  height: 90vh;
  padding: 0 8%;
  position: relative;
  margin: 0 auto;
  background-image: url(/Assets/imagenes/img.jfif);
  background-position: center;
  background-size: cover;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
/* -------------- NAVBAR--------------------- */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  width: 150px;
  z-index: 1;
}

.nav__links {
  padding: 28px 0;
}

.nav__links li {
  display: inline-block;
  margin: 0 15px;
}

.nav__links li a {
  color: #fff;
  padding: 5px 0;
  position: relative;
}

.nav__links li a::after {
  content: "";
  background: #3747a6;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}

.nav__links li a:hover::after {
  width: 100%;
}

/* -------------HERO------------- */
.hero {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90%;
  max-width: 900px;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  gap: 15px;
  max-width: 1200px;
}

.hero h1 {
  font-size: 65px;
  font-weight: 600;
  margin-bottom: 35px;
}

.hero p {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
  margin: 0 auto;
  max-width: 900px;
}

.hero a {
  font-size: 17px;
  display: inline-block;
  padding: 10px 50px;
  color: #fff;
}
/* ------------------BOTONES---------------- */

.btn__login {
  background-color: #3747a6;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.check__btn img {
  width: 30px;
  height: 30px;
  border-radius: 2px;
}

.check__btn,
#check {
  display: none;
}

/*----------CARDS---------- */

.container {
  margin-top: 25px;
}
.container__cards {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 350px;
  margin: 10px;
  padding: 20px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
}

.cover__card {
  width: 100%;
  height: 180px;
  border-radius: 14px;
  overflow: hidden;
}

.cover__card img {
  width: 110%;
}

.ttl__cards {
  font-size: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.card h2,
p {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* -------------ABOUT SECCION----------- */

.about {
  max-width: 1200px;
  margin: 0 auto;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

/* .about * {
  outline: 1px solid red;
} */

.main {
  margin-top: 60px;
  text-align: center;
}

.about__picture {
  gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__img {
  height: 20px;
  object-fit: contain;
  display: block;
}

.about__tittle {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.about__text {
  width: 70%;
  font-size: medium;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* -------------------------------------------- */

/* SECCION DE RESEÑAS */

.reseñas__container {
  margin: 10px;
  padding: 15px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1200px;
  gap: 20px;
  height: 200px;
}
.opiniones {
  border: 3px solid red;
  background-image: url(/Assets/imagenes/lol-fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  width: 100%;
}

.opiniones h2 {
  font-weight: 600;
  color: #fff;
}

.user__reseña {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  width: 350px;
}

.user__logo {
  border-radius: 50%;
  object-fit: cover;
  width: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
}

.img__valoracion {
  width: 15px;
}
.comentarios {
  width: 100%;
  font-size: 15px;
}

/* ------------------------------------------ */

/* ------------MEDIA QUERIES---------- */
@media (max-width: 768px) {
  /* HEADER */
  .header {
    background-image: url(/Assets/imagenes/img.jfif);
    background-repeat: no-repeat;
    background-size: 1500px 1000px;
    background-origin: padding-box;
    height: 50vh;
  }

  /* ---------HERO---------- */
  .hero h1 {
    font-size: 30px;
  }
  .hero p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    margin: 0 auto;
    max-width: max-content;
  }
  .hero a {
    font-size: 15px;
    background-color: #3747a6;
    color: #fff;
    padding: 8px 25px;
    border-radius: 5px;
  }

  /* MENU HAMBURGUESA */

  .check__btn {
    display: block;
  }
  .menu__icon {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
  }

  .nav__links {
    display: block;
    position: fixed;
    top: 70px;
    left: 100%;
    background: black;
    width: 100%;
    height: 100vh;
    right: 0;
    z-index: 1;
  }

  .nav__logo {
    position: fixed;
    top: 25px;
  }

  .nav__links li {
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
